<h1>You're a member of these teams:</h1>

<% @teams.each do |team|%>
<ul>
  <li><a href="/teams/<%=team["id"]%>"><%=team["name"]%></a><br></li>
</ul>

<% end %>

<h2>Add yourself to team</h2>

<div class = "input-field">
  <form action="/groupings" id="jointeam" method = "POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <select name= "post[team_id]" material-select>
      <% @all_teams.each do |team| %>
         <option value= "<%= team[:id]  %>" > <%= team[:name] %></option>
      <% end %>
    </select>
    <button class="btn waves-effect waves-light" type="submit" >Submit
    </button>
  </form>
</div>

<a href="/teams/new"> Add a New Team </a><br><br>
