<h1><%= @team["name"]%> team members:</h1>
<h3>Team Task Completion Rate: <%=@teamCompletionRate%></h3>

<% @users.each do |user|%>
<ul>
  <li><%=user["name"]%></li>
</ul>
<% end %>

<h1><%= @team["name"]%> team tasks:</h1>
<% @tasks.each do |task|%>
<ul>

  <li><a href="/tasks/<%=task["id"]%>"><%= task["name"]%><br></li>
</ul>
<% end %>




<a href="/teams"> Back to your teams </a>



