<%= form_for @task, :method => :PUT do |c| %>

 Name: <%= text_field_tag :name, @task.name %> <br>
 Frequency: <%= text_field_tag :frequency, @task.frequency %> <br>
 Completeness Level: <%= text_field_tag :completeness_level, @task.completeness_level %> <br>
    <%= c.submit %>
<% end %>


<a href='/tasks/<%= @task[:id] %>'></a><button><%=link_to "VANISH this task", @task, method: :delete %></button>
