<a href="/tasks/new"> Add a New Task </a><br><br>
<div class="row">
  <div id='once' class="col s4">
    Once:<br>
    <div class="row">
      <div id='onceToDo' class="col s6">
        To Do:<br>
        <% @onceTasksToDo.each do |task|%>
        <a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
        <% end %>
      </div>
      <div id='onceDone' class="col s6">
        Done:<br>
        <% @onceTasksDone.each do |task|%>
        <a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
        <% end %>
      </div>
    </div>
  </div>

  <div id='daily' class="col s4">
    Daily:<br>
    <div class="row">
      <div id='dailyToDo' class="col s6">
        To Do:<br>
        <% @dayTasksToDo.each do |task|%>
        <a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
        <% end %>
      </div>
      <div id='dailyDone' class="col s6">
        Done:<br>
        <% @dayTasksDone.each do |task|%>
        <a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
        <% end %>
      </div>
    </div>
  </div>

  <div id='weekly' class="col s4">
      Weekly:<br>
      <div class="row">
      <div id='weeklyToDo' class="col s6">
        To Do:<br>
        <% @weekTasksToDo.each do |task|%>
        <a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
        <% end %>
      </div>
        <div id='weeklyDone' class="col s6">
        Done<br>
        <% @weekTasksDone.each do |task|%>
        <a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
