<h1><%=@task["name"]%></h1>
<%=@task["frequency"]%><br>
<%=@task["completeness_level"]%><br>
<%=@task["completed"]%><br>
<%=@task["cycles"]%><br>


<a href="/tasks/<%= @task.id %>/edit">Edit</a><br><br>

<h2>Comments:</h2>
<% @comments.each do |comment|%>
<%=comment["content"]%> - <%= link_to 'Remove Comment', comment, method: :delete %>
<br>
<!-- remove should be a button. cd. -->
<%end%>

<form action="/comments" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :task_id, value = @task.id %>
  <label> Comment on this task: </label><input name="content">
  <button type="submit">Submit</button><br>
</form>

<iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A2PXdUld4Ueio2pHcB6sM8j" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
