<!DOCTYPE html>
<html>
  <head>
    <title>Planda2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">


  </head>
  <body>
  <nav>
    <div class="nav-wrapper black">
    <% if user_signed_in? %>
    <%= image_tag "PLANDA-logo-3.png", :class => "header_image" %>
      <a href="/tasks" class="brand-logo center undaline"><i>P L A N D A</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/tasks">My Tasks</a></li>
        <li><a href="/teams">My Teams</a></li>
        <li><a href="/users/edit">Edit Account</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </li>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
       <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </ul>
    </div>
  </nav>
  <div id='container' style="margin:2%;">
    <%= yield %>
    </div>
<footer class="page-footer black">

          <div class="footer-copyright">
            <div class="container">
            <div class="row">
            <div class="col s6">
            <p class="grey-text text-lighten-4">Erin Fox, Maria Sylla, Craig Dempsey, Ali Weinberg, and Scott Kaplan</p>
            © 2017 Copyright
            </div>
            <div class="col s4">
            <%= image_tag "PLANDA-logo-3.png", :class => "footer_image" %>
            </div>
            </div>
            </div>
          </div>
        </footer>
  </body>
</html>

